#receipes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border: 1px solid orange;
  grid-gap: 1em;
  width: 80vw;
  margin: 1rem auto;
}

.card {
  background-color: #ccc;
}

.card-title {
  border: 2px solid #000;
}

.card-body {
  border: 3px solid orangered;
}

.ingredients {
  margin: 0;
}

@media (min-width: 599px) {
  #receipes {
    grid-template-columns: repeat(3, 1fr);
  }
}